<p>
  <strong>Title:</strong>
  <%= @card.original_text %>
</p>
 
<p>
  <strong>Translate:</strong>
  <%= @article.translated_text %>
</p>

<p>
  <strong>Date:</strong>
  <%= @article.review_date %>
</p>